body{
    margin: 0%;
    background-color:#E4C59E;
}

.navbar{
    display: flex;
    align-items: center;
    background-color:#9a653c;
    justify-content:flex-end;
    position:fixed;
    right: 0%;
    left: 0%;
    top: 0%;
}

.navbar ul{
    list-style-type: none;
    background-color:#9a653c;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a:hover{
    background-color:#803D3B
}

.navbar a {
    color:#322C2B;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.navbar li {
    float: left;
}

.pictureintro {
    display: flex;
    justify-content: center;
    margin-top:10%;
    
}

.content h1 {
    display: flex;
    justify-content: center;
    color: #322C2B;
}

.Storybeforecoding, .Storyaftercoding, .Hopeaboutcoding {
    display: flex;
    align-items: center;
}


.Storybeforecoding {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    margin-top:5%;
}

.Storybeforecoding img {
    margin-left:30px;
    display: flex;
    width: 40%;
    height:20%;
}

.Storybeforecoding p {
    margin-left: 10%;
    color: #322C2B;
    font-size: 30px;
}

.Storyaftercoding {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
}

.Storyaftercoding img {
    width: 30%; 
    height: 20%; 
    margin: 20px; 
}

.Storyaftercoding p {
    margin-right: 10%;
    color: #322C2B;
    font-size: 30px;
}



.Hopeaboutcoding {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}

.Hopeaboutcoding img {
    margin-left:30px;
    margin-bottom:20px;
    height: 20%;
    width: 20%
}

.Hopeaboutcoding p {
    margin-left: 30%;
    color: #322C2B;
    font-size: 30px;
}
