body {
    margin: 0%;
}

.navbar{
    display: flex;
    align-items: center;
    background-color:#9a653c;
    justify-content:flex-end;
    padding-right:10px;
    position: fixed;
    right: 0%;
    left: 0%;
    top: 0%;
}

.navbar ul{
    list-style-type: none;
    background-color:#9a653c;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar a:hover{
    background-color:#803D3B
}

.navbar a {
    color:#322C2B;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.container_picture1 {
    display: flex;
    justify-content: center;
    background-size: cover;
}

