<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="http://127.0.0.1:5000/">Welcome</a></li>
            <li><a href="http://127.0.0.1:5000/home">Home</a></li>
            <li><a href="http://127.0.0.1:5000/profile">Profile</a></li>
            <li><a href="http://127.0.0.1:5000/education">Education</a></li>
            <li><a href="http://127.0.0.1:5000/activity">Activity</a></li>
        </ul>
    </nav>
    <div class="container">
        <section class="container">
            <div class="pictureintro">
                <img src="https://img5.pic.in.th/file/secure-sv1/437081428_753768730261800_6078669417985077119_n.jpeg" alt="paulpic"/>
            </div>
            <div class="content">
                <h1><span style="font-size: 36px; font-weight: bold;">เเนะนำตัวเองเบื้องต้น</span></h1>
            </div>
        </section>
        <section class="picture_layout">
            <div class="Storybeforecoding">
                <img src="https://img2.pic.in.th/pic/438231886_25392881553691057_8112814659419384385_n.jpeg" alt="beforecodingpic"/>
                <p>สิ่งที่ทำมาก่อนเขียนโค้ด</p> <!-- หลังรูป -->
            </div>
            <div class="Storyaftercoding">
                <p>สิ่งที่ทำหลังเจอการเขียนโค้ด</p> <!-- หน้ารูป -->
                <img src="https://img5.pic.in.th/file/secure-sv1/440492921_1002915011549380_6178738482171732647_n.jpeg" alt="aftercoding" />
            </div>
            <div class="Hopeaboutcoding">
                <img src="https://img5.pic.in.th/file/secure-sv1/435767634_1125459738724089_5305919072595453403_n.jpeg" alt="">
                <p>สิ่งที่หวัง</p> <!-- หลังรูป -->
            </div>
        </section>
    </div>
</body>
</html>