<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/profile.css">
    <title>Profile</title>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="http://127.0.0.1:5000/">Welcome</a></li>
            <li><a href="http://127.0.0.1:5000/home">Home</a></li>
            <li><a href="http://127.0.0.1:5000/profile">Profile</a></li>
            <li><a href="http://127.0.0.1:5000/education">Education</a></li>
            <li><a href="http://127.0.0.1:5000/activity">Activity</a></li>
        </ul>
    </nav>
    <div class="container_picture1">
        <h1>Word</h1>
        <img src="#">
    </div>
</body>
</html>