<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/welcome.css"> 
</head>
<body>
    <div class="container">
        <div class="picture">
            <img src="https://images-ext-1.discordapp.net/external/1pdWmJV-b_YwMonZFOPgkjFRihzJ6jxlRw0fet47Uog/https/img2.pic.in.th/pic/435767634_1125459738724089_5305919072595453403_n.jpeg?format=webp" alt="Placeholder Image">
        </div>
        <div class="content">
              <span style="font-size: 36px; font-weight: bold;">&lt;Welcome&gt;</span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <li><a href="http://127.0.0.1:5000/home">Let's the new journey begin</a></li>
        </div>
    </div>
</body>
</html>